// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,body {
  height:100%;

  .el-select-dropdown__item {
    white-space: pre;
  }
  
  #app {
    height: 100%;
  
    main {
      height: calc(100% - 55px);
      background-color: #fff;

      #container {
        height: 100%;

        el-menu {
          a {
            color: #303133;
            &:hover {
              text-decoration: none;
            }
          }
        }

        .el-breadcrumb {
          margin-bottom: 20px;
        }

        .el-drawer__header {
          font-size: 22px;
        }

        .el-drawer {
          overflow: auto;
          min-width: 30%;
        }

        .drawer__content {
          padding: 0 20px;
          margin-bottom: 20px;
          .el-form-item__label {
            padding-bottom: 0;
            margin: 0;
          }
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
